version: 2

jobs:
  build:
    docker:
      # For the information about software versions in the image, see the following page:
      # https://github.com/rust-lang-ja/circleci-images/wiki/Docker%E3%82%A4%E3%83%A1%E3%83%BC%E3%82%B8%EF%BC%9AmdBook
      - image: quay.io/rust-lang-ja/circleci:mdbook-0.4.25-rust-1.66.1
    parallelism: 1
    steps:
      - checkout
      # Remove .gitconfig added by Circle CI as cargo doesn't support ssh authentication.
      - run: rm -f ~/.gitconfig
      - run: rm -rf docs
      - run: mdbook -V
      - run: mdbook-transcheck -V
      - run: mdbook build
      - run: mdbook test
      - run:
          command: |
            git submodule update --init
            mdbook-transcheck src-en src
      - store_artifacts:
          path: docs
      - deploy:
          name: If master branch, publish to GitHub Page
          command: |
            if [ "x_${CIRCLE_BRANCH}" == "x_master" ]; then
              git config user.name "bn-e (CircleCI)"
              git config user.email "bn-e@hibaridb.org"
              ./tools/circleci/push-to-master.sh
            fi
